<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FHIRServerURL</key>
	<string>https://my-hapi-fhir.ashyground-06743b90.norwayeast.azurecontainerapps.io/fhir</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.example.healthdata.autosync</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
